<div class="container">
    <div class="row">
        <div class="sidebar col-md-3">
            <div>
                <h2>Bloc Chat</h2>
            </div>
            <div ng-controller="ModalAddRoomCtrl as modal">
                <button class=type="button" class="btn btn-default" ng-click="modal.open()">Create new room</button>
            </div>
            <div>
                <ul class="list-unstyled room-list">
                    <li ng-repeat="roomObject in home.all">
                        <span class="room-item" ng-click="home.setRoom(roomObject)">{{ roomObject.$value }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default message-container col-md-9">
          <div class="panel-title"> {{ home.activeRoom.$value }} </div>
          <div class="panel-body message-view">
            <div class="container">
                <div class="row message-bubble" ng-repeat="message in home.activeMessages">
                    <p class="text-muted">{{ message.username }}</p>
                    <p> {{ message.content }}
                        <span class="time-sent">{{ message.sentAt | date:'medium' }}</span>
                    </p>
                </div>
            </div>
        </div>
        <form class="panel-footer message-box" name="form.messageForm" novalidate>
             <div class="input-group">
                 <input type="text" ng-model="home.newMessage" class="form-control">
                 <span class="input-group-btn">
                 <button class="btn btn-default" type="button" ng-click="home.send(home.newMessage)" ng-disabled="form.messageForm.$invalid">Send</button>
                </span>
            </div>
        </form>
    </div>

</div>
